.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Background {
  background-image: url("./media/laundry2.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .overlay {
  background-color: rgb(212, 247, 254, 0.47);
  height: 100%;
  width: 100%;
}

.container-fluid {
  max-width: 100%;
  margin: 0;
} */
